* {
	color: gray;
}
body {
	text-align: center;
	background-color: rgb(70, 70, 70);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 21px;
}

header {
	font-size: 60px;
	text-align: center;
	color: rgb(83, 83, 128);
}
button {
	background-color: black;
}
input {
	background-color: black;
}
select {
	background-color: black;
}

#control-section {
	width: 90vw;
	height: 20vh;
	align-items: center;
	margin: auto;
	position: relative;
}
#sort-button {
	width: 120px;
}
#dark-mode-button {
	width: 100px;
}
#search-input {
	width: 150px;
}
#all-view-section {
	position: relative;
	margin: auto;
	margin-top: 35px;
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
}
#view-section {
	position: absolute;
	top: 30px;
	width: 300px;
	display: flex;
	grid-template-columns: 30%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: top;
	z-index: 50;
}
#fridge {
	z-index: 1;
	opacity: 50%;
}

.todo-container {
	position: relative;
	background-color: rgb(153, 104, 13);
	box-shadow: 2px 8px 5px rgba(75, 75, 75, 0.589);
	content: center;
	flex: 0, 1, 30%;
	border: 1px solid rgb(61, 46, 18);
	height: 20vh;
	width: 25%;
	margin-top: 15px;
	margin-right: 3.5%;
	margin-left: 3.5%;
	overflow-wrap: break-word;
}
.todo-priority {
	position: absolute;
	right: 40%;
	left: 40%;
	top: -7px;
	font-size: 14px;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.priority1 {
	background-color: rgb(0, 68, 0);
}
.priority2 {
	background-color: rgb(74, 109, 22);
}
.priority3 {
	background-color: rgb(97, 97, 0);
}
.priority4 {
	background-color: rgb(153, 99, 0);
}
.priority5 {
	background-color: rgb(117, 0, 0);
}

.todo-created-at {
	position: absolute;
	bottom: 0;
	font-size: 10px;
	color: rgba(167, 67, 1, 0.87);
}
.todo-text {
	position: absolute;
	width: 100%;
	top: 10px;
	font-size: 16px;
	font-family: "Architects Daughter", cursive;
}
#tip-window {
	position: fixed;
	font-size: 10px;
	height: 12px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.411);
	z-index: 100;
	text-align: center;
}
.highlighted {
	background-color: rgba(153, 205, 50, 0.411);
}
