* {
	color: rgb(180, 180, 180);
	/* transition: 800ms; */
}
body {
	text-align: center;
	background-color: rgb(70, 70, 70);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 21px;
}

header {
	font-size: 36px;
	text-align: center;
	font-family: "Potta One", cursive;
	margin-bottom: 0;
	color: rgb(83, 83, 128);
}

button {
	background-color: black;
}
button:hover {
	background-color: lightslategray;
}
input {
	background-color: black;
}
select {
	background-color: black;
}
#freezer-section {
	position: relative;
	margin: auto;
	margin-top: 35px;
	width: 100vw;
	/* display: flex; */
	align-content: center;
	justify-content: center;
}
#freezer {
	z-index: 1;
	/* position: absolute; */
	top: 0;
	width: 100%;
	max-width: 300px;
	max-height: 220px;
	display: block;
	margin: auto;
	filter: brightness(50%);
}

#control-section {
	width: 100%;
	max-width: 300px;
	height: 100%;
	align-items: center;
	display: block;
	margin: auto;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 0;
	z-index: 100;
	font-family: "Potta One", cursive;
}
#buttons-div {
	position: absolute;
	width: 100%;
	bottom: 35%;
}
#sort-button {
	position: absolute;
	width: 45%;
	right: 4%;
	font-family: "Potta One", cursive;
	border-radius: 1%;
}
#dark-mode-button {
	position: absolute;
	width: 45%;
	left: 4%;
	font-family: "Potta One", cursive;
	border-radius: 1%;
}
#search-input-div {
	position: absolute;
	bottom: 20%;
	width: 100%;
}
#search-input {
	position: absolute;
	left: 4%;
	width: 42%;
	font-family: "Potta One", cursive;
	border-radius: 1%;
}
#search-button {
	position: absolute;
	left: 51%;
	width: 22%;
	border-radius: 1%;
	font-family: "Potta One", cursive;
}
#clear-button {
	position: absolute;
	right: 4%;
	width: 22%;
	border-radius: 1%;
	font-family: "Potta One", cursive;
}
#text-input {
	position: absolute;
	left: 10%;
	top: 10%;
	background-color: rgb(153, 104, 13);
	box-shadow: 2px 8px 5px rgba(75, 75, 75, 0.589);
	content: center;
	border: 1px solid rgb(82, 61, 23);
	height: 100px;
	width: 25%;
	/* margin-top: 15px;
	margin-right: 3.5%;
	margin-left: 5%; */
	overflow-wrap: break-word;
	line-height: 14px;
	font-family: "Architects Daughter", cursive;
}
#priority-label {
	position: absolute;
	top: 10%;
	left: 40%;
}
#priority-selector {
	position: absolute;
	/* right: 40%; */
	left: 45%;
	top: 25%;
	font-size: 16px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	line-height: 30px;
	cursor: pointer;
	font-family: "Potta One", cursive;
}
#add-button {
	position: absolute;
	right: 10%;
	top: 22%;
	width: 50px;
	height: 50px;
	border-radius: 30%;
	font-family: "Potta One", cursive;
}
#counter-line {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -12%;
	color: rgb(153, 104, 13);
	text-shadow: -2px 5px black, 6px 2px black, 2px 0 black, 0 -2px black;
}
#all-view-section {
	position: relative;
	margin: auto;
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
}
#view-section {
	position: absolute;
	top: 30px;
	width: 300px;
	display: flex;
	grid-template-columns: 30%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: top;
	z-index: 50;
}
#loading-gif {
	opacity: 30%;
	filter: brightness(30%);
	height: 300px;
	width: 300px;
	position: absolute;
	top: 30px;
	z-index: 999;
}
#fridge {
	z-index: 1;
	width: 100%;
	max-width: 300px;
	height: 450px;
	filter: brightness(50%);
}

.todo-container {
	position: relative;
	background-color: rgb(153, 104, 13);
	box-shadow: 2px 8px 5px rgba(75, 75, 75, 0.589);
	content: center;
	flex: 0, 1, 30%;
	border: 1px solid rgb(61, 46, 18);
	height: 100px;
	width: 25%;
	margin-top: 15px;
	margin-right: 3.5%;
	margin-left: 3.5%;
	overflow-wrap: break-word;
}
.todo-priority {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: -12px;
	font-size: 14px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	line-height: 20px;
	cursor: pointer;
	border: 1px solid rgba(70, 18, 18, 0.507);
	font-family: "Potta One", cursive;
	box-shadow: 1px 2px 2px rgb(71, 36, 10);
}
.priority1 {
	background-color: rgb(0, 68, 0);
}
.priority2 {
	background-color: rgb(74, 109, 22);
}
.priority3 {
	background-color: rgb(97, 97, 0);
}
.priority4 {
	background-color: rgb(153, 99, 0);
}
.priority5 {
	background-color: rgb(117, 0, 0);
}

.todo-created-at {
	position: absolute;
	bottom: 0;
	font-size: 8px;
	width: 100%;
	text-align: center;
	color: rgba(228, 163, 120, 0.87);
}
.todo-text {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 10px;
	font-size: 16px;
	font-family: "Architects Daughter", cursive;
	overflow-y: scroll;
}
.todo-text::-webkit-scrollbar {
	display: none;
}
#tip-window {
	position: fixed;
	font-size: 10px;
	height: 12px;
	width: 140px;
	background-color: rgba(0, 0, 0, 0.411);
	z-index: 100;
	text-align: center;
}
.highlighted {
	background-color: rgba(153, 205, 50, 0.411);
}
#edit-task-input {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgb(153, 104, 13);
}
#edit-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 30%;
	font-family: "Architects Daughter", cursive;
	background-color: rgb(153, 104, 13);
}
#priority-changer {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height: 20%;
	font-family: "Architects Daughter", cursive;
	background-color: rgb(153, 104, 13);
}
#date-changer-label {
	position: absolute;
	top: 53%;
	left: 0;
	width: 80%;
	height: 20%;
	font-family: "Architects Daughter", cursive;
	font-size: 12px;
}
#date-changer {
	position: absolute;
	top: 50%;
	right: 0%;
	width: 20%;
	height: 20%;
	font-family: "Architects Daughter", cursive;
}
#edit-text-button {
	position: absolute;
	bottom: 0;
	right: 0%;
	width: 100%;
	height: 30%;
	font-family: "Architects Daughter", cursive;
	background-color: rgb(153, 104, 13);
}

#arrows {
	position: absolute;
	top: 20%;
	width: 350px;
	left: 50%;
	margin-left: -175px;
}
#right-arrow {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
#left-arrow {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
#contact-note {
	position: absolute;
	bottom: 4%;
	background-color: rgb(153, 104, 13);
	box-shadow: 2px 8px 5px rgba(75, 75, 75, 0.589);

	border: 1px solid rgb(61, 46, 18);
	height: 8%;
	width: 275px;
	left: 50%;
	margin-left: -140px;

	z-index: 100;
	text-align: left;
	line-height: 50px;
	font-size: 12px;
	font-family: "Potta One", cursive;
}
.contact-magnet {
	position: absolute;
	margin-left: -10px;
	top: -12px;
	font-size: 14px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border: 1px solid rgba(70, 18, 18, 0.507);
	font-family: "Potta One", cursive;
	box-shadow: 1px 2px 2px rgb(71, 36, 10);
	text-align: center;
}

#letter1 {
	background-color: rgb(139, 0, 0);
	left: 5%;
}
#letter2 {
	background-color: rgb(131, 85, 0);
	left: 20%;
}
#letter3 {
	background-color: rgb(114, 114, 0);
	left: 35%;
}
#letter4 {
	background-color: rgb(0, 70, 0);
	left: 50%;
}
#letter5 {
	background-color: rgb(0, 0, 129);
	left: 65%;
}
#letter6 {
	background-color: rgb(35, 0, 59);
	left: 80%;
}
#letter7 {
	background-color: rgb(99, 41, 99);
	left: 95%;
}
#facebook-link {
	position: absolute;
	right: 10px;
	bottom: 5px;
	filter: brightness(50%);
}
#mail-link {
	position: absolute;
	right: 45px;
	bottom: 5px;
}
#github-link {
	position: absolute;
	right: 80px;
	bottom: 5px;
}
#whatsapp-link {
	position: absolute;
	right: 115px;
	bottom: 5px;
}
.contact-logo {
	transition: 0s;
}
.contact-logo:hover {
	height: 20px;
	width: 20px;
	margin-bottom: -2px;
	margin-right: -2px;
}
