body{
    margin: 0 auto;
    background-color: #000c18;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    background-color: #060621;
    font-size: 1.5rem;
    width: 50%;
}

button {
    all: unset;
    background-color: #d7ba7d;
    padding: 1% 2%;
    color: black;
    font-weight: bold;
    user-select: none;
}

button:hover {
    background-color: #dec48d;
    cursor: pointer;
}

button:active {
    background-color: #c9ac70;
    cursor: pointer;
}

input {
    all: unset;
    background-color: #051336;
    padding: 1%;
}
input:focus {
    box-shadow: inset 0px 0px 0px 1px #585858;
}

#title {
    user-select: none;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}

#counter {
    display: inline;
    color: #cbcb41;
}

select {
    all: unset;
    background-color: white;
    color: black;
    background: url('./br_down.webp') no-repeat 80% #ddd;
    font-weight: bold;
    padding: 1% 4%;
}

label {
    padding: 1% 0;
}

#control-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #10192c;
    padding: 1% 0;
}

.todo-container {
    display: flex;
    border-bottom: 1px solid #585858;
}

.todo-text{
    width: 45%;
    text-align: justify;
    padding: 2%;
    display: flex;
    align-items: center;
}

.todo-priority {
    width: 10%;
    background-color: #152037;
    padding: 2%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-created-at {
    width: 45%;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.yellow-text{
    color: orange;
}

.orange-text{
    color: orangered;
}

.red-text{
    color: red;
}
