@import url('https://fonts.googleapis.com/css?family=Muli:400,800&display=swap');

:root {
    --my-blue: #00d4ff;
  }

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    /* background: rgb(249, 249, 249); */
}

.button {
    font-family: 'Muli', sans-serif;
    border: 2px solid #00d4ff;
    color: #00d4ff;
    font-weight: 800;
    background: white;
    min-width: 60px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 4px;
    margin: 0 3px 0 0;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

#mode-button {
    background:#056 ;
    color:white;
}

#mode-button:hover {
    background:#056 ;
    color:var(--my-blue);
}

.button:hover {
    border-color: var(--my-blue);
    color: var(--my-blue);
    background-color: #056;
}

.top h1 {
    font-family: 'Muli', sans-serif;
    font-size: 6rem;
    color: #2b6fad;
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.top img {
    padding-left: 20px;
    height: 55px;
    width: auto;
    padding-bottom: 8px;
}

.container {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 75vh;
    border: 1px solid var(--my-blue);
}

.bottom {
    height: 50px;
    /* background: rgb(7, 230, 81); */
}

.controlSection {
    background: #056;
    display: flex;
    justify-content: flex-start;
    height: 3vh;
    padding: 15px;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    align-content: center;
    color:white;
}

.addTask, .newPriority, .dueDate, .addButton, .themeMode  {
    flex: 1 1 auto;
}

.newPriority select {
    width: 40px;
    height: 25px;
    border-radius: 4px;
}
.controlSection input {
    height: 25px;
    border-radius: 4px;
    border: none;
}
.controlSection input:focus {
    border: 1px solid var(--my-blue);
    outline: none; 
}

.newPriority select:focus {
    border: 1.5px solid var(--my-blue);

}

.addTask input {
    width: 250px;
    height: 25px;
}


#counter {
    flex: 1 1 auto;
    align-self: flex-end;
}

.sortContainer {
    padding-top: 10px;
    display: flex;
    max-height: 30px;
    flex: 1 1 auto;
    text-align: center;
}
/* .sortContainer button {
    background: rgb(249,249,249);
} */
.sortContainer button:hover {
    color: var(--my-blue);
}

.sortByPriority {
    flex: 1 1 auto;
    padding-left: 100px;
    /* background:chartreuse; */
}

.sortByAlphaBet {
    padding-left: 180px;
    flex: 2 0 auto;
    /* background:rgb(255, 0, 55); */
}

.sortByDate {
    flex: 1 1 auto;
    padding-left: 180px;
    /* background:rgb(255, 0, 255); */
}

.sortByDueDate {
    flex: 1 1 auto;
    /* background:rgb(255, 238, 0); */
}

.sortButtons {
    flex: 2 1 auto;
    /* background:rgb(255, 238, 0); */
}

.todo-container {
    display: flex;
    text-align: center;
    padding-left: 20px;
}

.todo-text {
    padding-left: 15px;
    min-width: 400px;
    text-align: left;
}

.todo-container input {
    flex: 0 2 auto;
}

.todo {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.viewSection {
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.sort {
    font-family: 'Muli', sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: none;
}