.todo-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: left;
}

.todo-container p {
    flex: 1 0 5px;
}

.todo-container data {
    flex: 1 0 5px;
}

.todo-container time {
    flex: 1 0 5px;
}